body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--tg-theme-text-color)
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.user {
  /* outline: thin solid red; */
  text-align: center;
  padding-top: 20px;
}

.profit {
  /* outline: thin solid red; */
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.profit_item {
  text-align: center;
}

.profit_item > p {
  padding-bottom: 10px;
}

.amount {
  /* outline: thin solid red; */
  text-align: center;
  font-size: 28px;
}

.tap {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: cornflowerblue;
  border: none;
  cursor: pointer;
}

.tap:active {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.menu {
  /* outline: thin solid red; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 20px;
}

.menu_btn {
  cursor: pointer;
}

.menu_btn_active {
  color: lightgoldenrodyellow;
}

.menu_btn_3 {
  cursor: default;
  color: grey;
}

.menu2 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.profit_container {
  min-width: 200px;
  height: 110px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.menu2_profit_item {
  display: flex;
  column-gap: 20px;
}